fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
alembic
python-dotenv
pydantic
pydantic-settings
greenlet
feedparser
beautifulsoup4
thefuzz
python-Levenshtein
aiohttp
fake-useragent
loguru
trafilatura
dateparser
google-generativeai
